<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog detail</title>
</head>
<body>
    <h1>Blog detail</h1>
    <div>
        ID: <%= blog.id %>
    </div>
    <div>
        Name: <%= blog.name %>
    </div>
</body>
</html>